In [33]:
import pandas as pd
import numpy as np

In [34]:
data = pd.read_csv('dataset.csv', decimal=',')

In [35]:
data

,ID,Nombre,Mail,SIMULADOR,Competencia resolucion de problemas,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Competencia traspolacion de habilidades,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,Diagnostico,NaN,NaN,NaN,trabajo practico final,NaN,...,GRADO COMPETENCIA 1,Diagnostico,NaN,NaN,NaN,trabajo practico final,NaN,NaN,NaN,GRADO COMPETENCIA 3
1,NaN,NaN,NaN,NaN,ind1,ind2,ind3,GRADO diagnostico (promedio),ind1,ind2,...,NaN,ind1,ind2,ind3,GRADO diagnostico (promedio),ind1,ind2,ind3,GRADO tpf (promedio),NaN
2,1.0,NaN,altamiranoevelyn22@gmail.com,0.0,2,0,1,"1,00",2,3,...,"1,67",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,NaN,ana_chejo@hotmail.com,0.0,4,0,4,"2,67",3,2,...,"-0,33",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,barbara_arroyo@outlook.com,0.0,3,0,2,"1,67",4,4,...,"2,33",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,200.0,"PALACIOS SINCHE, ANDREA JAZMIN.",NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,3,2,"2,00",1,3,2,"2,00","0,00"
197,201.0,"PARRA, AGUSTINA SOLEDAD.",NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,202.0,"PONCE, IVAN.",NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,203.0,"RODRIGUEZ, LUCIA BELEN.",NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,2,1,"1,33",1,1,1,"1,00","-0,33"
200,204.0,"ROJAS, MICAELA.",NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,"1,00",1,1,1,"1,00","0,00"

In [36]:
new_data = data.loc[:,'SIMULADOR':'Unnamed: 12'].iloc[2:].reset_index(drop=True)

In [37]:
new_data.dtypes

SIMULADOR                              float64
Competencia resolucion de problemas     object
Unnamed: 5                              object
Unnamed: 6                              object
Unnamed: 7                              object
Unnamed: 8                              object
Unnamed: 9                              object
Unnamed: 10                             object
Unnamed: 11                             object
Unnamed: 12                             object
dtype: object

In [38]:
new_data['Unnamed: 7'] = pd.to_numeric(new_data['Unnamed: 7'].str.replace(',', '.'))
new_data['Unnamed: 12'] = pd.to_numeric(new_data['Unnamed: 12'].str.replace(',', '.'))
new_data.apply(pd.to_numeric)

ValueError: Unable to parse string "2,67" at position 0

In [ ]:
new_data.to_csv('cleaned_dataset.csv', header=False)